:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-font-color: #ffffff;
  --accent-color: #2196f3;
  --dark-background-color: #2f303a;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* header */
.page-header-container {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu {
  display: flex;
  column-gap: 50px;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  margin-right: 93px;
}

.link {
  text-decoration: none;
}

.logo-word {
  color: #000000;
}

a {
  text-decoration: none;
}

.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-dur-and-func);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contacts-page {
  display: flex;
  column-gap: 50px;
}

.contacts {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-dur-and-func);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

/* head secction */

.head-block {
  background: var(--dark-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin: 0 auto;
}

.head-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-font-color);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.head-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-font-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color var(--transition-dur-and-func);
}

.head-button:hover,
.head-button:focus {
  background-color: #188ce8;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-list h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.advantage-list p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.advantage-list {
  display: flex;
  column-gap: 30px;
}

.work {
  padding-top: 0;
}

.work-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.work-photo {
  display: flex;
  column-gap: 30px;
}
.team {
  background-color: var(--secondary-background-color);
}

.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.team-squad {
  display: flex;
  column-gap: 30px;
}

.team-member {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-name {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

/* footer */

footer {
  background: var(--dark-background-color);
  padding: 60px 0;
}

.location {
  font-weight: 400;
  font-size: 14px;
  color: var(--white-font-color);
  line-height: 1.71;
  transition: color var(--transition-dur-and-func);
}

.location:hover,
.location:focus {
  color: var(--accent-color);
}

.logo-footer {
  color: var(--white-font-color);
}

.footer-contacts:not(:first-child) {
  margin-top: 9px;
}

.footer-contacts {
  line-height: 1.71;
  margin-top: 20px;
}

/* portfolio */

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.current-portfolio {
  color: var(--accent-color);
}

.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-button {
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--white-font-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-list li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
}
.buttons-list {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.portfolio-list li {
  width: 370px;
  background: #ffffff;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.portfolio-list-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio-list h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.portfolio-list-name {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-company-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.icon-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color var(--transition-dur-and-func);
}
.icon-client {
  fill: currentColor;
}

.icon-link:hover,
.icon-link:focus {
  color: var(--accent-color);
}

.company-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 16px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #fff;
  color: #afb1b8;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  color: var(--white-font-color);
}

.envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.envelope-icon:hover {
  fill: var(--accent-color);
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.footer-icons {
  display: flex;
  align-items: baseline;
  margin-left: 70px;
}

.footer-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-text-color);
  transition: background-color var(--transition-dur-and-func);
}
.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: var(--accent-color);
}

.footer-icons-list {
  display: flex;
  column-gap: 10px;
  margin-top: 20px;
}

.footer-social-icons {
  width: 20px;
  height: 20px;
  fill: white;
}

.footer-icons-title {
  display: inline-block;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  color: var(--white-font-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
  margin: auto;
}

.address-data {
  margin-right: 70px;
}

.footer .logo {
  padding: 0;
}

.portfolio-cards {
  display: block;
}

.portfolio-cards:hover,
.portfolio-cards:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease, visibility 500ms ease;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 8px;
  right: 8px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.work-list-overlay {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-background-color);
  overflow: auto;
}

.work-list-img-wrapper {
  position: relative;
}

.portfolio-list-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
}

.portfolio-cards:hover .overlay,
.portfolio-cards:focus .overlay {
  transform: translateY(0);
}

.active {
  position: relative;
}

.link-before::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(32px);

  width: 78px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.link-before-main:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(32px);

  width: 48px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
